.Classification {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 20px;/* 內邊距 */
            max-width: 80%;
        }

        .Classification h1{
            margin-bottom: 20px; /* 在標題底部添加間距 */
        }

        .Classification ul {
            list-style: none; 
            margin: 15px; /* 增加外邊距 */
            padding: 0;  
            border-radius: 15%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: white;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            flex: 1 1 calc(33.333% - 30px);/* 每行三張圖片，考慮邊距 */
            position: relative;
        }
        .Classification a {
            text-decoration: none;
            padding: 10px 20px;
            line-height: 1.5em;
            color: black;
            display: block;
        }
        .Classification a:hover {
            background-color: lightgreen;
            color: black;
        }
        .img {
            max-width: 250px;
            max-width: 100%; 
            height: auto;
            border-radius: 10px;
        }
        .Classification .sub {           
            display: none; /* 初始隱藏子菜單 */
            position: absolute;
            top: 0%; /* 將子菜單放置在項目下方 */
            left: 100%; /* 將子菜單居中 */
            transform: translateX(-50%); /* 使子菜單居中 */
            width: 200px; /* 設定子菜單的寬度 */
            background-color: darkblue;
            box-shadow: 10px 10px 5px green;
            border-radius: 5px;
            z-index: 10; /* 確保子菜單在其他元素上方 */
        }
        .mClassification ul:hover .sub {
            display: block; /* 懸停時顯示子菜單 */
        }

        /* 響應式設計 */
        @media (max-width: 900px) {
            .Classification ul {
                flex: 1 1 calc(50% - 30px); 
            }
        }
        @media (max-width: 600px) {
            .Classification  ul {
                flex: 1 1 100%; 
            }
        }
@keyframes img { 
0% { transform: rotateY(0deg) translateX(0px); }
25% { transform: translateY(4px); }
50% { transform: rotateY(180deg) translateY(0px); }
75% { transform: translateY(-4px); }
100% { transform: rotateY(0deg) translateX(0px); }
}
