.event {
    margin: 20px 0;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.content {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

.content-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}
