.header {
    background-color: rgba(71, 71, 71, 0.286); /* Background color for the header */
    padding: 15px 0; /* Padding for the header */
}

.container {
    display: flex;
    justify-content: flex-start;
    width: 35%;
    height: 100%;
}