body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.header {
    background-color: rgba(71, 71, 71, 0.286); /* Background color for the header */
    padding: 15px 0; /* Padding for the header */
}
.container {
    display: flex;
    justify-content: flex-start;
    width: 35%;
    height: 100%;
}
.containertxt {
    display: flex;
    justify-content: space-around;/*https://www.w3schools.com/cssref/playdemo.php?filename=playcss_justify-content*/
    width: 100%;
    height: 100%;
}
.box {
    display: inline-block; /* Allows the box to respond to the hover */
    padding: 20px; /* Add some padding for visual appeal */
    margin: 0 10px; /* Space between boxes */
    background-color: #f0f0f0; /* Base background color */
    text-decoration: none; /* Remove underline from links */
    color: #000; /* Text color */
    transition: background-color 0.3s; /* Smooth background transition */
    border-radius: 5px; /* Rounded corners */
    height: 30%;
    width: 30%;
}

.footer {
    margin-top: 20px;
    text-align: center;
}

/* Optional: Add hover effect for better visibility */
.box:hover {
    background-color: #e0e0e0; /* Slightly darker on hover */
    animation: box 0.6s ease-in-out; /* Run the keyframes on hover */
}
@keyframes box { 
    0% { transform: rotateY(0deg) translateX(0px); }
    25% { transform: translateY(4px); }
    50% { transform: rotateY(180deg) translateY(0px); }
    75% { transform: translateY(-4px); }
    100% { transform: rotateY(0deg) translateX(0px); }
}